h1{
    text-align: center;
    color: rgb(78, 40, 202);
    background-color: gray;
}

.block1{
    width: 100%;
    height: 20px;
    background-color: rgb(240, 240, 240);
}
.block2{
    width: 100%;
    height: 20px;
    background-color: rgb(230, 230, 230);
}
.block3{
    width: 100%;
    height: 20px;
    background-color: rgb(220, 220, 220);
}
.block4{
    width: 100%;
    height: 20px;
    background-color: rgb(210, 210, 210);
}
.block5{
    width: 100%;
    height: 20px;
    background-color: rgb(200, 200, 200);
}
.block6{
    width: 100%;
    height: 20px;
    background-color: rgb(190, 190, 190);
}
.block7{
    width: 100%;
    height: 20px;
    background-color: rgb(180, 180, 180);
}
.block8{
    width: 100%;
    height: 20px;
    background-color: rgb(170, 170, 170);
}
.block9{
    width: 100%;
    height: 20px;
    background-color: rgb(160, 160, 160);
}
.block10{
    width: 100%;
    height: 20px;
    background-color: rgb(150, 150, 150);
}
.block11{
    width: 100%;
    height: 20px;
    background-color: rgb(140, 140, 140);
}
.block12{
    width: 100%;
    height: 20px;
    background-color: rgb(130, 130, 130);
}
.block13{
    width: 100%;
    height: 20px;
    background-color: rgb(120, 120, 120);
}
.block14{
    width: 100%;
    height: 20px;
    background-color: rgb(110, 110, 110);
}
.nav-link{
    list-style: none;
    margin: 2px 5px;
    padding: 8px 15px;
    background-color: aqua;
}
nav>ul{
    display: flex;
    justify-content: flex-end;
    margin: 50px 100px;
}